*{
    box-sizing: border-box;
}
body {
    background-image: url("../images/668012.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-width: 800px;
    height: 760px;
    margin: 0;
    position: relative;
}

.game_menu {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    min-width: 1000px;
    width: 80%;
    height: 80px;
    clear: both;
    color: #BA01FF;
}

#title:hover {
  animation: neon 2s ease-in-out infinite alternate;
  transform: scale(1.2);
  transition-duration: 2s;
}

#title {
    height: 70px;
    line-height: 70px;
    font-size: 70px;
    font-weight: bolder;
    margin-top: 10px;
    width:70%;
    float: left;
    font-family: myFirstFont;
    font-weight: 100;
    text-align: center;
}
#score {
    width: 30%;
    height: 70px;
    margin-top: 10px;
    float: right;
    font-size: 60px;
    font-weight: bolder;
    opacity: 0.9;
}
.game_board {
    display: none;
}
/*style w zależności od ilości par*/
/*small*/
.board_small {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 400px;
    height: 600px;
}
/*middle*/
.board_middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 750px;
    height: 600px;
}
/*big*/
.board_big {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 1000px;
    height: 600px;
}
.game_start {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 280px;
    overflow: auto;
    background-color: rgba(146,123,123, 0.9);
    border: 2px solid rgb(116,98,98);
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: auto;
}
label {
    width: 100%;
    height: 30%;
    line-height: 40px;
    margin: 20px 0 20px 0;
    font-size: 35px;
    text-align: center;
}

input {
    width: 15%;
    height: 50px;
    line-height: 45px;
    text-align: center;
    font-size: 27px;
    border: 2px solid rgb(116,98,98);
    margin-left: auto;
    margin-right: auto;
}
.game_start button {
    width: 25%;
    height: 45px;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid grey;
}
.game_end {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 150px;
    line-height: 100px;
    font-size: 50px;
    text-align: center;
    font-weight:400;
    background-color: rgba(146,123,123, 0.9);
    border: 2px solid rgb(116,98,98);
}

.game_end p {
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: 35px;
    line-height: 40px;
    margin: 0;
    margin-top: 20px;
}

.game_end button {
    width: 50%;
    height: 45px;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 2px solid grey;
}

.restart {
    width: 40%;
}

#score {
    text-align: right;
}
.card {
    background-image: url("../images/icon.svg");
    background-color: rgba(81,0,31, 0.9);
    background-size: cover;
    border-radius: 5px;
    display: inline-block;
    margin: 3px;
    width: 90px;
    height: 90px;
    border: 1px solid black;
}
.clicked {
    background-color: rgba(78,32,63, 0.5);
    border-radius: 5px;
    display: inline-block;
    margin: 3px;
    width: 90px;
    height: 90px;
    border: 1px solid black;
    background-size: cover;
}
.paired {
    background-image: none;
    border-radius: 5px;
    display: inline-block;
    display: inline-block;
    margin: 3px;
    width: 90px;
    height: 90px;
    border: 1px;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100%;
    height: 40px;
    font-size: 26px;
    color: rgb(255,170,32);
    font-weight: 500;
    text-align: center;
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

@font-face {
    font-family: myFirstFont;
    src: url('../fonts/monoton/Monoton-Regular.ttf');
}
